---
import { SITE } from 'astrowind:config';
import { getAsset } from '~/utils/permalinks';

// We laden het logo in. Zorg dat de bestandsnaam exact overeenkomt in src/assets/images/
const logoSrc = getAsset('~/assets/images/nad_logo.webp');
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white flex items-center"
>
  <img 
    src={logoSrc} 
    alt={`${SITE?.name} Logo`} 
    class="h-8 md:h-10 w-auto mr-2 inline-block shadow-sm" 
    loading="eager"
  />
  <span class="hidden sm:inline-block">
    {SITE?.name}
  </span>
</span>
