---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

import { headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;

// 1. Detecteer de huidige taal (nl of en)
const lang = (Astro.currentLocale || 'nl') as 'nl' | 'en';

// 2. Haal de juiste data op basis van de taal
const currentHeaderData = headerData(lang);
const currentFooterData = footerData(lang);
---

<Layout metadata={metadata}>
  <slot name="header">
    <Header 
      {...currentHeaderData} 
      isSticky 
      showToggleTheme 
    />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...currentFooterData} />
  </slot>
</Layout>
<script is:inline>
  window.chatbaseConfig = {
    chatbotId: "xebg6Uj_yHqd9ef2Sq4F5",
  };

