---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

import { headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;

// 1. Detecteer de huidige taal (nl of en)
const lang = (Astro.currentLocale || 'nl') as 'nl' | 'en';

// 2. Haal de juiste data op basis van de taal
const currentHeaderData = headerData(lang);
const currentFooterData = footerData(lang);
---

<Layout metadata={metadata}>
  <slot name="header">
    <Header 
      {...currentHeaderData} 
      isSticky 
      showToggleTheme 
    />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...currentFooterData} />
  </slot>
</Layout>
<Script>
{
`(function(){if(!window.chatbase||window.chatbase("getState")!=="initialized"){window.chatbase=(...arguments)=>{if(!window.chatbase.q){window.chatbase.q=[]}window.chatbase.q.push(arguments)};window.chatbase=new Proxy(window.chatbase,{get(target,prop){if(prop==="q"){return target.q}return(...args)=>target(prop,...args)}})}const onLoad=function(){const script=document.createElement("script");script.src="www.chatbase.co/embed.min.js";script.id="${
process.env.NEXT_PUBLIC_CHATBOT_ID
}";script.domain="www.chatbase.co";document.body.appendChild(script)};if(document.readyState==="complete"){onLoad()}else{window.addEventListener("load",onLoad)}})();`
}
</Script>
